<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

    <script src="./js/util.js"></script>

    <link rel="stylesheet" type="text/css" href="css/pretty.css">
    <title>Pointilllism</title>
  </head>

  <body>    
    <h2>Pointilllism</h2>
    <h5>Version {{packageVersion}}</h5>
    <p>This app will render your images in the beautifiul style of pointillism.</p>
    <div class="box">
      <h6>Image</h6>
      <div><canvas id="canvas" width="20" height="20" style="border:solid black;" clear:left;>You'll see this if there's a problem.</canvas></div>
      <h6>Effects</h6>
      <div>
        <p>TBA</p>
      </div>

      <script src="./js/main.js"></script>
    </div>
    <hr></hr>
    <a href="https://github.com/dvehar/pointillism/commits/master">Changelog</a>
    <p>
      <u>To Do</u>
    </p>
    <ul>
      <li>Create a To Do list :P</li>    
    </ul>
  </body>
</html>
